body {
  background-color: rgb(34, 30, 43);
  margin: 0px;
}
#todoMenu {
  width: 20%;
  height: 1000px;
  background-color: rgb(34, 30, 43);
  position: absolute;
}
#todoList {
  width: 100%;
  background-color: rgb(44, 43, 57);
  padding: 20px 0px 20px 0px;
}
.todo {
  background-color: #221e2b;
  display: flex;
  margin: 10px auto;
  width: 550px;
  border: none;
  border-radius: 10px;
}
.todo-time {
  margin: 16px 60px 16px auto;
}
.todoWrapper {
  width: 100%;
  height: 100%;
  color: white;
}
.todoInnerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  margin: 0px 10px;
  color: white;
}
.todo-btns {
  margin-right: 15px;
}
.expanded {
  height: 100px;
  width: 100%;
  border-top: 1px solid #a7b9cc;
}
.description {
  margin: 0px;
  padding: 10px;
  overflow-y: scroll;
  max-height: 70px;
}
.mx-0 {
  margin: 0;
}
.delete-btn {
  background-color: rgba(255, 0, 0, 0.2);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 5px;
}
.project {
  background-color: rgb(56, 55, 71);
  width: 600px;
  margin: 0px auto 40px auto;
  padding: 10px;
  border-bottom: 2px solid #a7b9cc;
  border-radius: 10px;
  border-top: 2px solid #a7b9cc;
  box-shadow: 10px 10px #00000026;
}
.project-name {
  text-align: center;
  color: white;
  font-size: 24px;
  margin: 0px auto;
  width: 100%;
}
.edit-btn {
  background-color: #0003;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 0px 10px 0px 0px;
}
.project-input-wrapper {
  width: 600px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  justify-content: center;
}
#createAssigned {
  width: 400px;
  height: 30px;
}
.todo-menu-wrapper {
  position: absolute;
  background-color: #00000086;
  width: 100%;
  height: 100%;
  top: 0px;
}
.todo-menu {
  width: 800px;
  height: 600px;
  background-color: #1e1d2c;
  margin: 100px auto 0px auto;
  border: 2px solid #a7b9cc;
  border-radius: 20px;
  padding: 10px;
}
.input-field {
  width: 100%;
  height: 30px;
  font-size: 20px;
}
.menu-section {
  padding: 10px;
  width: 600px;
  margin: 0 auto;
}
.menu-text {
  margin: 10px 0px;
  color: white;
}
.flex {
  display: flex;
}
.text-center {
  text-align: center;
}
#closeMenu {
  color: white;
  float: right;
  font-size: 20px;
}
#closeMenu:hover {
  cursor: pointer;
}
.todo-checkbox {
  width: 20px;
  height: 20px;
  background-color: aliceblue;
  margin-right: 20px;
}
.checked {
  background-color: rgb(0, 89, 255);
}
#createDescription {
  resize: none;
  height: 130px;
}
#todoMenuBtn {
  border: 2px solid #a7b9cc;
  color: white;
  background-color: #221e2b;
  border-radius: 10000px;
  width: 140px;
  height: 30px;
  margin: 0 auto;
  display: block;
}
#todoMenuBtn:hover {
  cursor: pointer;
}
.edit-btn:hover {
  cursor: pointer;
}
.delete-btn:hover {
  cursor: pointer;
}
.todo-checkbox:hover {
  cursor: pointer;
}
.delete-project {
  height: 20px;
  width: 100px;
  position: relative;
  top: -30px;
  right: -500px;
  background-color: rgba(255, 0, 0, 0.2);
  border: none;
  color: white;
  border-radius: 10px;
}
.completed {
  text-decoration: line-through;
}
